@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen Progreso 1</h1>
    <a href="http://localhost:5085/Celulares" type="button" class="btn btn-primary btn-lg">Celulares</a>
    <a href="http://localhost:5085/PIsaacs" type="button" class="btn btn-primary btn-lg">PIsaac</a>

    <img src="https://i.pinimg.com/736x/25/6d/12/256d12e972c85c4dad9db595d3b43c38.jpg"  class="imagen" />



    <button type="button" class="btn btn-primary btn-lg" onclick="alert(' Mi nombre es Isaac Puga Mi hobby es Jugar Videojuegos ');">
  Info
</button>
</div>
